.timer-container {
    text-align: center;
    background: #2dbdb1;
    padding: 20px;
    border-radius: 10px;
    border-color: black;
    width: 300px;
    margin-top: 250px;
    margin-left: 600px;
    border: 5px solid black;
}

input {
    border: 2px solid black;
    width: 60px;
    padding: 5px;
    margin: 5px;
    font-size: 16px;
}

button {
    border: 2px solid black;

    
    padding: 10px 20px;
    margin: 5px;
    font-size: 16px;
    cursor: pointer;
}

#countdown-display {
    font-size: 48px;
    margin-top: 20px;
}

body {
    background-image: url('C:\Users\imean\OneDrive\Desktop\samta\countdown-timer\public\bg.jpg');
    background-size: cover;
}
